{% extends 'base.html.twig' %}

{% block title %}Confirmation mail
{% endblock %}

{% block body %}
	<h1>Hello
		{{data.firstname}}
		{{data.lastname}}</h1>
	Your command has been fully paid. 
	Here's just a confirmation mail to notify you!
	
	Thanks for choosing us!
{% endblock %}
