{% extends 'base.html.twig' %}

{% block title %}Reminder mail
{% endblock %}

{% block body %}
	<h1>Hello
		{{data.firstname}}
		{{data.lastname}}</h1>
	Your command is still not paid. 
		Don't forget to pay us.

{% endblock %}
