{% extends "base.html.twig" %}

{% block body %}

	<h1>Hello
		{{data.firstname}}
		{{data.lastname}}</h1>
	<h2>You just made a new order !</h2>
	<p>You can find attached a pdf invoice of your order</p>
	<p>Thank you for choosing us!</p>

{% endblock %}
